version: '3.8'

services:
  mongodb:
    image: mongo:7.0
    container_name: sync-crm-mongodb
    restart: unless-stopped
    ports:
      - "${MONGO_PORT}:27017"
    environment:
      MONGO_INITDB_DATABASE: ${MONGO_DATABASE}
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_USERNAME}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_PASSWORD}
    volumes:
      - mongodb_data:/data/db
    networks:
      - sync-crm-network

volumes:
  mongodb_data:
    driver: local

networks:
  sync-crm-network:
    driver: bridge
